.card {
  height: 200px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

h2 {
  color: var(--primary-color);
}

p {
  color: var(--body-text-color);
}

h1 .fa-solid.fa-clipboard-list {
  color: var(--primary-color);
}
