p {
  color: black;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.btn-terms-conditions {
  width: max-content;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-terms-conditions a {
  text-decoration: none;
  color: var(--secondary-color);
}
