<div class="card mb-5 mt-5 pb-5 shadow-effec-card">
  <div class="card-body">
    <h4 class="mt-3 mb-3">
      Comments (11.981)
    </h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0">
        Isko
      </h6>

      <small class="text-danger">
        LAST UPDATED - AUG 25, 2023
      </small>

      <div class="mt-3 mb-3">
        Lorem ipus dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>

      <div class="href-container">
        <a href="#" class="mt-1">
          Replay
        </a>

        <a href="#" class="mt-1 ml-3">
          View replay
        </a>
      </div>


      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">
        Azma
      </h6>

      <small class="text-danger">
        LAST UPDATED - AUG 25, 2023
      </small>

      <div class="mt-3 mb-3">
        Lorem ipus dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>

      <div class="href-container">
        <a href="#" class="mt-1t">
          Replay
        </a>

        <a href="#" class="mt-1 ml-3">
          View replay
        </a>
      </div>


      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">
        Hamza
      </h6>

      <small class="text-danger">
        LAST UPDATED - AUG 25, 2023
      </small>

      <div class="mt-3 mb-3">
        Lorem ipus dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>

      <div class="href-container">
        <a href="#" class="mt-1">
          Replay
        </a>

        <a href="#" class="mt-1 ml-3">
          View replay
        </a>
      </div>


      <hr>
    </div>
  </div>
</div>
