<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect-card">
        <img src="{{ singlePost.postImgPath }}" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <div class="small-container">
            <small class="bg-light text-danger text-center">
              {{ singlePost.category.category }}
            </small>
            <small class="bg-light text-success text-center ml-10">
              Featured
            </small>
            <small class="bg-light text-info text-center ml-10">
              Views - {{ singlePost.views }}
            </small>
            <small class="bg-light text-warning text-center ml-10">
              LAST UPDATED - {{ singlePost.createdAt.toMillis() | date }}
            </small>
          </div>

          <h1 class="mt-3 mb-3"> {{ singlePost.title }} </h1>

          <p [innerHtml] = "singlePost.content" > </p>

        </div>
      </div>

      <app-comment-form></app-comment-form>

      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <div *ngFor="let sp of similarPostsArray">
        <app-post-card [postData]="sp"> </app-post-card>
      </div>
    </div >
  </div>
</div>
