<div class="card">
  <img
    src="https://www.idfcfirstbank.com/content/dam/idfcfirstbank/images/blog/beyond-banking/what-is-the-impact-of-it-on-the-banking-sector-717x404.jpg"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <div class="small-container">
      <small class="bg-light text-danger text-center">
        Inspiring
      </small>
      <small class="bg-light text-success text-center ml-3">
        Featured
      </small>
      <small class="bg-light text-info text-center ml-3">
        Views - 100.256
      </small>
    </div>

    <h5 class="mt-1">
      <a href="#" class="text-dark">
        BREAKING NEWS: BANKING SECTOR IS GROWING!
      </a>
    </h5>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quisquam, voluptatibus.
    </p>

    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED: AUG 24, 2023
    </small>
  </div>
</div>

