.card {
  max-width: 400px;
  /* margin-left: 10px; */
}

/* .small-container small {
  margin-right: 10px;
}

.small-container {
  margin-bottom: 10px;
} */

.card {
  /* height: 600px; */
  /* margin-bottom: 5px; */
  max-width: 400px;
  min-height: 600px;
}
