<div class="card shadow-effect-card" *ngIf="postData" [routerLink]="['/post', postData.id]">
  <img src="{{ postData.data.postImgPath }}" alt="post-image" class="card-img-top" />
  <div class="card-body">
    <div class="small-container">
      <small class="bg-light text-danger text-center">
        {{ postData.data.category.category }}
      </small>
      <small class="bg-light text-success text-center ml-3">
        Featured
      </small>
      <small class="bg-light text-info text-center ml-3">
        Views - {{ postData.data.views }}
      </small>
    </div>

    <h5 class="mt-1 text-dark"> {{ postData.data.title }} </h5>

    <p> {{ postData.data.excerpt }} </p>
  </div>

  <!-- Move the "LAST UPDATED" section here -->
  <div class="card-footer bg-light">
    <small class="text-warning text-center">
      LAST UPDATED: {{ postData.data.createdAt.toMillis() | date }}
    </small>
  </div>
</div>
