<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-logo">
          BLOG SPHERE
        </div>

        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a routerLink="/" class="nav-link" (click)="top()">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/about" class="nav-link" (click)="top()">
                About
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/terms-and-conditions" class="nav-link" (click)="top()">
                Terms & Conditions
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/" class="nav-link" (click)="top()">
                Contact Us
              </a>
            </li>
          </ul>
        </div>

        <p class="mb-2 mt-2">
          Copyright @ 2023 Blog Sphere
        </p>
      </div>
    </div>
  </div>
</footer>
