<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect-card">
        <div class="card-body text-center">
          <h3 class="text-center">
            All Blog Posts
          </h3>

          <p>
            From here you can manage your blog posts.
          </p>

          <div>
            <button class="btn btn-info new-post-btn" routerLink="/posts/new">
              Add new post
            </button>
            <button class="btn btn-warning back-btn" routerLink="/">
              Back to the dashboard
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
