.card {
  background-color: var(--secondary-color);
}

.new-post-btn {
  background-color: var(--primary-color);
  color: white;
}

.back-btn {
  margin-left: 5px;
}

.del-btn {
  margin-left: 5px;
}

@media (max-width: 1400px) {
  .del-btn {
    margin-top: 5px;
    margin-left: 3px;
  }
}
