<div class="centered-card">
  <div class="card shadow-effect-card mt-3">
    <div class="card-body">
      <div class="text-center mt-3 mb-5">
        <h3>
          SUBSCRIPTION FORM
        </h3>
        <p class="m-auto subs-text">
          Please fill in the form below to subscribe to our newsletter for the latest news and updates.
        </p>
        <form class="form-inline mb-5 mt-3" #subForm=ngForm>
          <div class="row justify-content-center">
            <div class="form-group col-md-5">
              <input type="text"
                      class="form-control shadow-effect-card subs-input"
                      placeholder="Your name"
                      name="name"
                      #Name="ngModel"
                      ngModel
                      required
                      [ngClass]="{'is-invalid': Name.invalid && Name.touched}"
                      >
              <div class="text-danger" *ngIf="Name.touched && Name.invalid">
                <div *ngIf="Name.errors?.required"> Name is required! </div>
              </div>
            </div>
            <div class="form-group col-md-5">
              <input type="email"
                      class="form-control shadow-effect-card subs-input"
                      placeholder="Your e-mail"
                      name="email"
                      #Email="ngModel"
                      ngModel
                      required
                      email
                      [ngClass]="{'is-invalid': Email.invalid && Email.touched}"
                      >
              <div class="text-danger" *ngIf="Email.touched && Email.invalid">
                <div *ngIf="Email.errors?.required"> E-mail is required! </div>
                <div *ngIf="Email.errors?.email"> E-mail is invalid! </div>
              </div>

            </div>
          </div>
          <div class="col-md-12 text-center mt-3">
            <button class="btn btn-info btn-sub" [disabled]="subForm.invalid">SUBSCRIBE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
