.card {
  background-color: var(--secondary-color);
  width: min-content;
}

.subs-text {
  width: 700px;
}

.subs-input {
  margin-bottom: 2px;
}

h3 {
  color: var(--primary-color);
}

.centered-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.btn-sub {
  height: 58px;
  width: 240px;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
