<div class="container shadow-effect-card">
  <div class="row-md">
    <div class="col-md">
      <h3 class="text-center"> {{ formStatus }} categories </h3>
      <p class="text-center mb-5"> You can manage your categories from here! </p>
    </div>
  </div>

  <div class="row-md">
    <div class="col-md">
      <form action="" class="form-inline text-center" #categoryForm = 'ngForm' (ngSubmit) = "onSubmit(categoryForm)">
        <div class="form-group col-md mb-3">
          <input
            type="text"
            name="category"
            class="form-control shadow-effect-card"
            placeholder="Add new categories"
            #newCategory='ngModel'
            [(ngModel)] = "formCategory"
            required
            [ngClass]="{ 'is-invalid': newCategory.touched && newCategory.invalid }"
            >

            <div class="alert alert-danger" *ngIf = " newCategory.touched && newCategory.invalid ">
              Category field is required!
            </div>
        </div>

        <div class="col-md">
          <button class="btn btn-block btn-info mb-2 roboto-text btn-add-category" [disabled] = "categoryForm.invalid">
            {{ formStatus }} category
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="card shadow-effect-card">
      <div class="card-body">
        <table class="table row-border hover">
          <thead>
            <tr>
              <th> Number </th>
              <th> Category </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = 'let c of categoryArray; let i = index'>
              <td> {{ i + 1}} </td>
              <td> {{ c.data.category }} </td>
              <td>
                <button class="btn btn-sm btn-warning" (click)="onEdit(c.data.category)">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>
